<header class="header">
  <div class="Header__wrap">
    {% if site.data.settings.header_settings.logo_image %}
    <a href="/" class="header__logo">
      <img
        src="{{ site.data.settings.header_settings.logo_image }}"
        class="header__logo__img"
      />
    </a>
    {% else %}
    <a href="/" class="header__title">
      <span> Ji Hoon. </span>
      <span class="random__title"> </span>
      <!-- 사이트 타이틀 호출
        {{ site.data.settings.basic_settings.site_title }}
      -->
    </a>
    {% endif %}

    <div class="menu">
      <div class="menu__toggle js-menu-toggle">
        <div class="menu__toggle__icon"><span></span></div>
      </div>
      <div class="menu__wrap">
        <ul class="menu__list">
          <li class="menu__list__item">
            <a href="/" class="menu__list__item__link">Projects</a>
          </li>
          <li class="menu__list__item">
            <a href="/blog/" class="menu__list__item__link">Thought</a>
          </li>
          <li class="menu__list__item">
            <a href="/about" class="menu__list__item__link">About</a>
          </li>
          <li class="menu__list__item">
            <a href="/contact" class="menu__list__item__link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="sub__menu">
        <div class="menu__sub__wrap">
          <ul class="menu__list__sub__item">
            <li class="menu__list">
              <a href="/contact" class="menu__list__item__link">Contact</a>
              <img
                class="contact-outlink"
                src="/images/00_header/outlink.svg"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
