// - - - - - - - - - - - - - - - - - -

// Basics

// - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Basics

html,
body {
  height: 100%;
}

body {
  background: $background-color;
  font-family: $body-font;
  font-weight: $regular-weight;
  font-style: normal;
  line-height: 1;
  color: $text-medium-color;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  color: $text-dark-color;

  &:first-child {
    margin-top: 0;
  }
}

h1,
.h1 {
  font-size: $h1-small;
  font-weight: $h1-weight;
  line-height: $h1-lineheight;
  letter-spacing: $h1-spacing;

  @include mq(tabletp) {
    font-size: $h1-medium;
  }

  @include mq(laptop) {
    font-size: $h1-large;
  }
}

h2,
.h2 {
  margin-top: 40px;
  font-size: $h2-small;
  font-weight: $h2-weight;
  line-height: $h2-lineheight;
  letter-spacing: $h2-spacing;

  @include mq(tabletp) {
    font-size: $h2-medium;
  }

  @include mq(laptop) {
    font-size: $h2-large;
  }
}

h3,
.h3 {
  margin-top: 40px;
  font-size: $h3-small;
  font-weight: $h3-weight;
  line-height: $h3-lineheight;
  letter-spacing: $h3-spacing;

  @include mq(tabletp) {
    font-size: $h3-medium;
  }

  @include mq(laptop) {
    font-size: $h3-large;
  }
}

h4,
.h4 {
  margin-top: 25px;
  font-size: $h4-small;
  font-weight: $h4-weight;
  line-height: $h4-lineheight;
  letter-spacing: $h4-spacing;

  @include mq(tabletp) {
    font-size: $h4-medium;
  }

  @include mq(laptop) {
    font-size: $h4-large;
  }
}

h5,
.h5 {
  margin-top: 15px;
  font-size: $h5-small;
  font-weight: $h5-weight;
  line-height: $h5-lineheight;
  letter-spacing: $h5-spacing;

  @include mq(tabletp) {
    font-size: $h5-medium;
  }

  @include mq(laptop) {
    font-size: $h5-large;
  }
}

h6,
.h6 {
  margin-top: 15px;
  font-size: $h6-small;
  font-weight: $h6-weight;
  line-height: $h6-lineheight;
  letter-spacing: $h6-spacing;

  @include mq(tabletp) {
    font-size: $h6-medium;
  }

  @include mq(laptop) {
    font-size: $h6-large;
  }
}

p,
ul,
ol {
  margin-top: 15px;
  font-size: $p-small;
  font-weight: $p-weight;
  line-height: $p-lineheight;
  letter-spacing: $p-spacing;

  @include mq(tabletp) {
    font-size: $p-medium;
  }

  @include mq(laptop) {
    font-size: $p-large;
  }

  strong {
    font-weight: $bold-weight;
  }

  &:first-child {
    margin-top: 0;
  }
}

ul,
ol {
  list-style-position: inside;
}

blockquote {
  margin-top: 15px;
  border-left: 2px solid $text-dark-color;
  padding: 10px 0 10px 20px;
  font-size: $blockquote-small;
  font-weight: $blockquote-weight;
  letter-spacing: $blockquote-spacing;
  line-height: $blockquote-lineheight;

  @include mq(tabletp) {
    border-left-width: 3px;
    padding: 15px 0 15px 30px;
    font-size: $blockquote-medium;
  }

  @include mq(laptop) {
    border-left-width: 4px;
    padding: 20px 0 20px 40px;
    font-size: $blockquote-large;
  }

  p {
    font-size: $blockquote-small;
    font-weight: $blockquote-weight;
    letter-spacing: $blockquote-spacing;
    line-height: $blockquote-lineheight;

    @include mq(tabletp) {
      font-size: $blockquote-medium;
    }

    @include mq(laptop) {
      font-size: $blockquote-large;
    }
  }
}

a {
  text-decoration: none;
  color: $text-dark-color;
  font-weight: $bold-weight;
  //---- A-tag 애니메이션
  //@include transition(all 0.15s ease-in-out);

  &:hover {
    color: $accent-color;
  }
}

.button {
  display: inline-block;
  padding: 9px 10px 10px;
  font-size: 13px;
  line-height: 1;
  border: 2px solid $accent-color;
  background: $accent-color;
  color: $background-color;
  font-weight: $button-weight;
  letter-spacing: $button-spacing;
  cursor: pointer;

  @include mq(tabletp) {
    padding: 11px 20px 12px;
    font-size: 15px;
  }

  &:hover {
    background: adjust-hue($accent-color, 15%);
    border-color: adjust-hue($accent-color, 15%);
    color: $background-color;
  }

  svg {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
      margin-left: 5px;
    }

    @include mq(tabletp) {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
        margin-left: 8px;
      }
    }
  }
}

.button--large {
  padding: 15px 20px 16px;
  font-size: 13px;

  @include mq(tabletp) {
    padding: 19px 40px 20px;
    font-size: 17px;
  }
}

.button--light {
  background: transparent;
  border-color: $text-dark-color;
  color: $text-dark-color;

  &:hover {
    background: $accent-color;
    border-color: $accent-color;
    color: $background-color;
  }
}

.button--overlay {
  background: transparent;
  border-color: $overlay-text-color;
  color: $overlay-text-color;

  &:hover {
    background: $overlay-text-color;
    border-color: $overlay-text-color;
    color: $accent-color;
  }
}

hr {
  margin: 40px 0;
  border: 0;
  height: 2px;
  background: $background-alt-color;
}

::selection {
  background: $accent-color;
  color: $background-color;
}
::-moz-selection {
  background: $accent-color;
  color: $background-color;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Page loading

.page-loader {
  display: none;
}

.page {
  @include transition(all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44));
}

body.loading {
  .loader {
    opacity: 1;
    visibility: visible;
    @include transition(all 0.4s ease-in-out 1s);
  }

  .page {
    opacity: 0;
    visibility: hidden;
    //---- 모든 html 페이지 start 애니메이션
    //@include transition(all 0.4s ease-in-out, transform 0s ease-in-out 0.4s);
    //@include translate(0, 20px);
  }

  .footer {
    opacity: 0;
    visibility: hidden;
    @include transition(all 0.4s ease-in-out);
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
  width: 60px;
  height: 15px;

  opacity: 0;
  visibility: hidden;
  @include transition(all 0.2s ease-in-out);

  svg {
    width: 100%;
    height: 100%;
    fill: rgba($text-dark-color, 0.2);
  }
}

.page,
.page__content {
  float: left;
  clear: both;
  width: 100%;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Page sections

section {
  margin-top: 40px;

  @include mq(tabletp) {
    margin-top: 50px;
  }

  @include mq(tabletl) {
    margin-top: 60px;
  }

  @include mq(laptop) {
    margin-top: 100px;
  }
}

.wrap {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 500px;

  @include mq(tabletp) {
    padding: 0;
    max-width: 70%;
  }

  @include mq(tabletl) {
    max-width: 65%;
  }

  @include mq(laptop) {
    max-width: 60%;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Index design
.Index__wrap {
  //----텍스트 정렬 추가
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 500px;
  //---- 공백 스타일 추가
  white-space: normal;

  @include mq(tabletp) {
    padding: 0;
    max-width: 70%;
  }

  @include mq(tabletl) {
    max-width: 65%;
  }

  @include mq(laptop) {
    max-width: 60%;
  }
}
//---- mixins 값 설명
//min-width = 해당 값 이상일 경우 적용 -> 현재 상태 값
//max-width = 해당 값 이하일 경우 적용

.Index__Title__One {
  //----기본 값
  font-family: $title-font;
  letter-spacing: $h1-spacing;
  //font-size: 55px;
  font-weight: 600;
  white-space: normal;
  color: #ffffff;
  max-width: 100%;

  @include mq(phonel) {
    //----320px 이상일 경우 적용
    padding: 0;
    font-size: 47px;
    line-height: 1.2;
  }

  @include mq(tabletp) {
    //----768px 이상일 경우 적용
    padding: 0;
    font-size: 47px;
    line-height: 1.4;
  }

  @include mq(tabletl) {
    //----1024px 이상일 경우 적용
    font-size: 47px;
    line-height: 1.4;
  }

  @include mq(laptop) {
    //----1220px 이상일 경우 적용
    font-size: 68px;
    line-height: 1.2;
    margin-top: 20px;
  }
}

.Index__Title__Two {
  //----기본 값
  font-family: $title-font;
  letter-spacing: $h1-spacing;
  //font-size: 55px;
  font-weight: 600;
  white-space: normal;
  color: #ffffff;
  max-width: 100%;

  @include mq(phonel) {
    //----320px 이상일 경우 적용
    padding: 0;
    font-size: 47px;
    line-height: 1.2;
  }

  @include mq(tabletp) {
    //----768px 이상일 경우 적용
    padding: 0;
    font-size: 47px;
    line-height: 1.4;
  }

  @include mq(tabletl) {
    //----1024px 이상일 경우 적용
    font-size: 47px;
    line-height: 1.4;
  }

  @include mq(laptop) {
    //----1220px 이상일 경우 적용
    font-size: 68px;
    line-height: 1.2;
    margin-top: 10px;
  }
}

.Index__Body {
  //----기본 값
  font-family: $title-font;
  letter-spacing: $p-spacing;
  //font-size: 24px;
  font-weight: 400;
  color: #636c73;
  max-width: 100%;
  //line-height: 1.5;

  @include mq(phonel) {
    //----320px 이상일 경우 적용
    padding-top: 32px;
    font-size: 16px;
    line-height: 1.7;
  }

  @include mq(tabletp) {
    //----768px 이상일 경우 적용
    padding-top: 28px;
    font-size: 16px;
    line-height: 1.7;
  }

  @include mq(tabletl) {
    //----1024px 이상일 경우 적용
    padding-top: 24px;
    font-size: 16px;
    line-height: 1.7;
  }

  @include mq(laptop) {
    //----1220px 이상일 경우 적용
    padding-top: 24px;
    font-size: 24px;
    line-height: 1.7;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Index animation

@keyframes portfolio-show {
  from {
    transform: translateY(500px) scale(0.5);
    opacity: 0;
    color: #222222;
  }

  to {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

.portfolio-item:nth-child(1) {
  animation-name: portfolio-show;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.portfolio-item:nth-child(2) {
  animation-name: portfolio-show;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-delay: 0.65s;
  animation-fill-mode: both;
}
.portfolio-item:nth-child(3) {
  animation-name: portfolio-show;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-delay: 0.8s;
  animation-fill-mode: both;
}
.portfolio-item:nth-child(4) {
  animation-name: portfolio-show;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-delay: 0.95s;
  animation-fill-mode: both;
}
