// - - - - - - - - - - - - - - - - - -

// Basics

// - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Basics

html,
body {
  height: 100%;
}

body {
  background: $background-color;
  font-family: $body-font;
  font-weight: $regular-weight;
  font-style: normal;
  line-height: 1;
  color: $text-medium-color;
}

//팝업 스크롤 조절
.body-stop-scroll {
  @include mq(laptop) {
    height: 100%;
    overflow: hidden;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $body-font;
  color: #ffffff;

  &:first-child {
    margin-top: 0;
  }
}

h1,
.h1 {
  font-size: $h1-small;
  font-weight: $h1-weight;
  line-height: $h1-lineheight;
  letter-spacing: $h1-spacing;

  @include mq(tabletp) {
    font-size: $h1-medium;
  }

  @include mq(laptop) {
    font-size: $h1-large;
  }
}

h2,
.h2 {
  margin-top: 40px;
  font-size: $h2-small;
  font-weight: $h2-weight;
  line-height: $h2-lineheight;
  letter-spacing: $h2-spacing;

  @include mq(tabletp) {
    font-size: $h2-medium;
  }

  @include mq(laptop) {
    font-size: $h2-large;
  }
}

h3,
.h3 {
  margin-top: 40px;
  font-size: $h3-small;
  font-weight: $h3-weight;
  line-height: $h3-lineheight;
  letter-spacing: $h3-spacing;

  @include mq(tabletp) {
    font-size: $h3-medium;
  }

  @include mq(laptop) {
    font-size: $h3-large;
  }
}

h4,
.h4 {
  margin-top: 25px;
  font-size: $h4-small;
  font-weight: $h4-weight;
  line-height: $h4-lineheight;
  letter-spacing: $h4-spacing;

  @include mq(tabletp) {
    font-size: $h4-medium;
  }

  @include mq(laptop) {
    font-size: $h4-large;
  }
}

h5,
.h5 {
  margin-top: 15px;
  font-size: $h5-small;
  font-weight: $h5-weight;
  line-height: $h5-lineheight;
  letter-spacing: $h5-spacing;

  @include mq(tabletp) {
    font-size: $h5-medium;
  }

  @include mq(laptop) {
    font-size: $h5-large;
  }
}

h6,
.h6 {
  margin-top: 15px;
  font-size: $h6-small;
  font-weight: $h6-weight;
  line-height: $h6-lineheight;
  letter-spacing: $h6-spacing;

  @include mq(tabletp) {
    font-size: $h6-medium;
  }

  @include mq(laptop) {
    font-size: $h6-large;
  }
}

p {
  margin-top: 24px;
}

ul {
  margin-top: 15px;
}

ol {
  margin-top: 15px;
}

p,
ul,
ol {
  color: white;
  //margin-top: 15px;
  font-size: $p-small;
  font-weight: $p-weight;
  line-height: $p-lineheight;
  letter-spacing: $p-spacing;

  @include mq(tabletp) {
    font-size: $p-medium;
  }

  @include mq(laptop) {
    font-size: $p-large;
  }

  strong {
    font-weight: $bold-weight;
  }

  &:first-child {
    margin-top: 0;
  }
}

ul,
ol {
  list-style-position: inside;
}

blockquote {
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  //border-left: 2px solid $text-dark-color;
  //padding: 10px 0 10px 20px;
  font-size: $blockquote-small;
  font-weight: $blockquote-weight;
  letter-spacing: $blockquote-spacing;
  line-height: $blockquote-lineheight;

  @include mq(tabletp) {
    //border-left-width: 3px;
    //padding: 15px 0 15px 30px;
    font-size: $blockquote-medium;
  }

  @include mq(laptop) {
    //border-left-width: 4px;
    //padding: 20px 0 20px 40px;
    font-size: $blockquote-large;
  }

  p {
    font-size: $blockquote-small;
    font-weight: $blockquote-weight;
    letter-spacing: $blockquote-spacing;
    line-height: $blockquote-lineheight;

    @include mq(tabletp) {
      font-size: $blockquote-medium;
    }

    @include mq(laptop) {
      font-size: $blockquote-large;
    }
  }
}

a {
  text-decoration: none;
  color: $text-dark-color;
  font-weight: $bold-weight;
  //---- A-tag 애니메이션
  //@include transition(all 0.15s ease-in-out);

  &:hover {
    color: white;
  }
}

.button {
  display: inline-block;
  padding: 9px 10px 10px;
  font-size: 13px;
  line-height: 1;
  border: 2px solid $accent-color;
  background: $accent-color;
  color: $background-color;
  font-weight: $button-weight;
  letter-spacing: $button-spacing;
  cursor: pointer;

  @include mq(tabletp) {
    padding: 11px 20px 12px;
    font-size: 15px;
  }

  &:hover {
    background: adjust-hue($accent-color, 15%);
    border-color: adjust-hue($accent-color, 15%);
    color: $background-color;
  }

  svg {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
      margin-left: 5px;
    }

    @include mq(tabletp) {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
        margin-left: 8px;
      }
    }
  }
}

.button--large {
  padding: 15px 20px 16px;
  font-size: 13px;

  @include mq(tabletp) {
    padding: 19px 40px 20px;
    font-size: 17px;
  }
}

.button--light {
  background: transparent;
  border-color: $text-dark-color;
  color: $text-dark-color;

  &:hover {
    background: $accent-color;
    border-color: $accent-color;
    color: $background-color;
  }
}

.button--overlay {
  background: transparent;
  border-color: $overlay-text-color;
  color: $overlay-text-color;

  &:hover {
    background: $overlay-text-color;
    border-color: $overlay-text-color;
    color: $accent-color;
  }
}

hr {
  margin: 40px 0;
  border: 0;
  height: 2px;
  background: $background-alt-color;
}

::selection {
  background: $accent-color;
  color: $background-color;
}
::-moz-selection {
  background: $accent-color;
  color: $background-color;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Page loading

.page-loader {
  display: none;
}

.page {
  @include transition(all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44));
}

body.loading {
  .loader {
    opacity: 1;
    visibility: visible;
    @include transition(all 0.4s ease-in-out 1s);
  }

  .page {
    opacity: 0;
    visibility: hidden;
    //---- 모든 html 페이지 start 애니메이션
    //@include transition(all 0.4s ease-in-out, transform 0s ease-in-out 0.4s);
    //@include translate(0, 20px);
  }

  .footer {
    opacity: 0;
    visibility: hidden;
    @include transition(all 0.4s ease-in-out);
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
  width: 60px;
  height: 15px;

  opacity: 0;
  visibility: hidden;
  @include transition(all 0.2s ease-in-out);

  svg {
    width: 100%;
    height: 100%;
    fill: rgba($text-dark-color, 0.2);
  }
}

.page,
.page__content {
  float: left;
  clear: both;
  width: 100%;
}

.project-group {
  @include mq(phonel) {
    float: left;
    clear: both;
    width: 100%;
    height: 3600px;
  }
  @include mq(laptop) {
    float: left;
    clear: both;
    width: 100%;
    height: 2215px;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Page sections

section {
  margin-top: 40px;

  @include mq(phonel) {
    margin-top: 100px;
  }

  @include mq(tabletp) {
    margin-top: 50px;
  }

  @include mq(tabletl) {
    margin-top: 60px;
  }

  @include mq(laptop) {
    margin-top: 160px;
  }
}

.wrap {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 500px;

  @include mq(tabletp) {
    padding: 0;
    max-width: 70%;
  }

  @include mq(tabletl) {
    max-width: 65%;
  }

  @include mq(laptop) {
    max-width: 1590px;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Index new design

//animation 속성 추가
@keyframes index-title-show {
  from {
    transform: translateY(50px) scaleY(1.3);
    opacity: 0;
  }
  to {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@keyframes index-border-show {
  from {
    transform: scale(0);
    opacity: 0;
    background-color: #249fff;
  }
  to {
    transform: scale(1);
    opacity: 1;
    background-color: #ffffff;
  }
}

@keyframes portfolio-border-show {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes index-description-show {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes portfolio-item-show {
  from {
    transform: translateY(60px);
    opacity: 0;
    scale: 1.2;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
    scale: 1;
  }
}

@keyframes index-title-fill {
  from {
    fill: rgba($color: #249fff, $alpha: 1);
  }

  to {
    fill: rgba($color: #ffffff, $alpha: 1);
  }
}

.index-wrap {
  @include mq(phonel) {
    margin-top: 40px;
  }
  @include mq(laptop) {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
  }
}

.index-title-wrap {
  @include mq(phonel) {
    //background-color: red;
  }
  @include mq(laptop) {
    max-width: 100%;
    //background-color: rosybrown;
  }
}

// 모바일은 각 줄 타이틀 wrap 무시 직접 조정해서 수치를 맞춘다.

.index-title-one-wrap {
  @include mq(phonel) {
    max-width: 325px;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(laptop) {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
}

.title-one-one {
  @include mq(phonel) {
    position: relative;
    width: 87px;
    height: 35px;
    display: inline;
    top: 0px;
    margin-left: 3px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 162px;
    height: 72px;
    top: 0px;
    margin-left: 10px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.title-one-two {
  @include mq(phonel) {
    position: relative;
    width: 64px;
    height: 28px;
    display: inline;
    top: -5px;
    margin-left: 4px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    width: 117px;
    height: 56px;
    display: inline;
    top: -11px;
    margin-left: 27px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.title-one-three {
  @include mq(phonel) {
    position: relative;
    width: 152px;
    height: 32px;
    display: inline;
    top: 0px;
    margin-left: 4px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 302px;
    height: 67px;
    top: 0px;
    margin-left: 24px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

// 모바일은 각 줄 타이틀 wrap 무시 직접 조정해서 수치를 맞춘다.

.index-title-two-wrap {
  @include mq(phonel) {
    max-width: 312px;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(laptop) {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
  }
}

.title-two-one {
  @include mq(phonel) {
    position: relative;
    width: 64px;
    height: 28px;
    display: inline;
    top: 0px;
    margin-left: 39px;
    margin-top: 12px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 124px;
    height: 56px;
    top: -6px;
    margin-left: 0px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.title-two-two {
  @include mq(phonel) {
    position: relative;
    width: 122px;
    height: 31px;
    display: inline;
    top: 0px;
    margin-left: 10px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    width: 240px;
    height: 62px;
    display: inline;
    top: -6px;
    margin-left: 24px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.title-two-three {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 23px;
    height: 28px;
    top: 0px;
    margin-left: 10px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 44px;
    height: 58px;
    top: -6px;
    margin-left: 24px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

// 모바일 셋 째줄 시작
.title-two-four {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 147px;
    height: 28px;
    top: 0px;
    margin-left: 14px;
    margin-top: 15px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.6s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 287px;
    height: 56px;
    top: -7px;
    margin-left: 24px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.6s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.title-two-five {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 127px;
    height: 36px;
    top: 10px;
    margin-left: 10px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 257px;
    height: 74px;
    top: 11px;
    margin-left: 24px;
    //애니메이션 요소
    animation-name: index-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.title-two-border-one {
  @include mq(phonel) {
    margin-left: auto;
    margin-right: auto;
    margin-top: -39px;
    width: 240px;
    height: 1px;
    background-color: white;
    //애니메이션 요소
    animation-name: index-border-show;
    animation-duration: 1s;
    animation-delay: 0.75s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 3px;
    width: 920px;
    height: 2px;
    background-color: white;
    //애니메이션 요소
    animation-name: index-border-show;
    animation-duration: 1s;
    animation-delay: 0.75s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.title-two-border-two {
  @include mq(phonel) {
    margin-left: 14px;
    margin-right: 0px;
    margin-top: 43px;
    width: 216px;
    height: 1px;
    background-color: white;
    //애니메이션 요소
    animation-name: index-border-show;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    margin-left: 966px;
    margin-right: 0px;
    margin-top: -2px;
    width: 99px;
    height: 2px;
    background-color: white;
    //애니메이션 요소
    animation-name: index-border-show;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.title-two-border-three {
  @include mq(phonel) {
    margin-left: 253px;
    margin-top: -2px;
    width: 48px;
    height: 1px;
    background-color: white;
    //애니메이션 요소
    animation-name: index-border-show;
    animation-duration: 1s;
    animation-delay: 0.85s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    display: none;
  }
}

//타이틀 svg 애니메이션 관리
#hello {
  @include mq(laptop) {
    animation-name: index-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#iam {
  @include mq(laptop) {
    animation-name: index-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#yujihoon {
  @include mq(laptop) {
    animation-name: index-title-fill;
    animation-duration: 0.4s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#user {
  @include mq(laptop) {
    animation-name: index-title-fill;
    animation-duration: 0.4s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#interface {
  @include mq(laptop) {
    animation-name: index-title-fill;
    animation-duration: 0.4s;
    animation-delay: 0.6s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#and {
  @include mq(laptop) {
    animation-name: index-title-fill;
    animation-duration: 0.4s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#interaction {
  @include mq(laptop) {
    animation-name: index-title-fill;
    animation-duration: 0.3s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#designer {
  @include mq(laptop) {
    animation-name: index-title-fill;
    animation-duration: 0.3s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.index-info-wrap {
  @include mq(phonel) {
    margin-top: 48px;
    display: block;
    //애니메이션 요소
    animation-name: index-description-show;
    animation-duration: 0.6s;
    animation-delay: 0.6s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    max-width: 1070px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    //애니메이션 요소
    animation-name: index-description-show;
    animation-duration: 0.6s;
    animation-delay: 0.6s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.index-info {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.8;
    color: white;
    text-align: center;
  }
  @include mq(laptop) {
    text-align: center;
    font-family: $title-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.7;
    color: white;
  }
}

.index-description-wrap {
  @include mq(phonel) {
    margin-top: 56px;
  }
  @include mq(laptop) {
    max-width: 100%;
  }
}

.mobile-index-description {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
    color: white;
    text-align: center;
    //애니메이션 요소
    animation-name: index-description-show;
    animation-duration: 0.6s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    display: none;
  }
}

.index-description {
  @include mq(phonel) {
    display: none;
  }
  @include mq(laptop) {
    display: block;
    text-align: center;
    font-family: $title-font;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
    color: white;
    margin-top: 0px;
    //애니메이션 요소
    animation-name: index-description-show;
    animation-duration: 0.6s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.about-button-wrap {
  @include mq(phonel) {
    margin-top: 40px;
    width: 104px;
    margin-left: auto;
    margin-right: auto;
    //애니메이션 요소
    animation-name: index-description-show;
    animation-duration: 0.6s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    width: 132px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    //애니메이션 요소
    animation-name: index-description-show;
    animation-duration: 0.6s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.about-button {
  @include mq(phonel) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #090909;
    border: 1px solid rgba($color: #111111, $alpha: 1);
    border-radius: 8px;
    width: 104px;
    height: 38px;
    margin: 0 auto;
  }
  @include mq(laptop) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #090909;
    border: 1px solid rgba($color: #111111, $alpha: 1);
    border-radius: 12px;
    width: 132px;
    height: 50px;
    margin: 0 auto;

    &:hover {
      background-color: #111111;
      border: 1px solid rgba($color: #222222, $alpha: 1);
    }
  }
}

.about-button-label {
  @include mq(phonel) {
    font-family: $title-font;
    font-weight: 700;
    font-size: 12px;
    color: white;
  }
  @include mq(laptop) {
    font-family: $title-font;
    font-weight: 700;
    font-size: 14px;
    color: white;
  }
}

.about-button-arrow {
  @include mq(phonel) {
    position: relative;
    top: -2px;
    right: -3px;
    width: 6px;
  }
  @include mq(laptop) {
    position: relative;
    width: 8px;
    right: -7px;
    top: -3px;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - portfolio new design
.portfolio-hover-one {
  @include mq(phonel) {
    display: none;
  }
  @include mq(laptop) {
    display: block;
    position: relative;
    top: -570px;
    width: 360px;
    height: 570px;
    background-color: #025442;
    border: 1px solid rgba($color: #00a682, $alpha: 1);
    border-radius: 24px;
    // Hover
    opacity: 0;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    transition-duration: 0.5s;
  }
}

.portfolio-one-badge {
  @include mq(laptop) {
    position: absolute;
    left: 28px;
    top: 28px;
    background-color: #ff0000;
    border: 1px solid rgba($color: #720000, $alpha: 1);
    border-radius: 27px;
    width: 72px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    // Hover
    opacity: 0;
    transform: translateY(40px) scale(1);
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    transition-duration: 0.3s;
  }
}

.one-badge-label {
  @include mq(laptop) {
    font-size: 16px;
    font-family: $title-font;
    font-weight: 700;
    color: #ffffff;
  }
}

.portfolio-one-info {
  @include mq(laptop) {
    position: absolute;
    left: 28px;
    bottom: 40px;
  }
}

.one-info-title {
  @include mq(laptop) {
    font-size: 22px;
    font-family: $title-font;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
    //Hover
    opacity: 0;
    transform: translateY(30px);
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    transition-delay: 0.15s;
    transition-duration: 0.3s;
  }
}

.one-info-description {
  @include mq(laptop) {
    font-size: 20px;
    font-family: $title-font;
    font-weight: 700;
    line-height: 1.6;
    color: #00a682;
    //Hover
    opacity: 0;
    transform: translateY(30px);
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    transition-delay: 0.1s;
    transition-duration: 0.3s;
  }
}

.portfolio-hover-two {
  opacity: 0;
}

.portfolio-hover-three {
  opacity: 0;
}

.portfolio-hover-four {
  opacity: 0;
}

//---------- portfolio hover trigger

.portfolio-image-one-hover {
  @include mq(laptop) {
    opacity: 1;
  }
}

.portfolio-item-one {
  @include mq(laptop) {
    &:hover {
      .portfolio-hover-one {
        opacity: 1;
        transition-delay: 0s;
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
        transition-duration: 0.5s;
        //transform: translateY(-10px);
      }
      .portfolio-one-badge {
        opacity: 1;
        transform: translateY(0px) scale(1);
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
        transition-delay: 0.2s;
        transition-duration: 0.5s;
      }
      .one-info-title {
        opacity: 1;
        transform: translateY(0px) scale(1);
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
        transition-delay: 0.4s;
        transition-duration: 0.5s;
      }
      .one-info-description {
        opacity: 1;
        transform: translateY(0px) scale(1);
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
        transition-delay: 0.5s;
        transition-duration: 0.5s;
      }
    }
  }
}

//------------------------------------

.portfolio-line {
  @include mq(phonel) {
    position: relative;
    margin: 0 auto;
    width: 335px;
    height: 1px;
    background-color: #222222;
    //애니메이션 요소
    animation-name: portfolio-border-show;
    animation-duration: 0.6s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    margin: 0 auto;
    width: 1590px;
    height: 1px;
    background-color: #222222;
    //애니메이션 요소
    animation-name: portfolio-border-show;
    animation-duration: 0.6s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.portfolio-wrap {
  @include mq(phonel) {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
  @include mq(laptop) {
    width: 1590px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
  }
}

.portfolio-grid {
  @include mq(laptop) {
    font-size: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    position: relative;
  }
}

// 모바일은 그리드를 사용하지 않기 때문에 마진으로 간격을 설정한다.
.portfolio-item-style {
  @include mq(phonel) {
    margin-bottom: 50px;
  }
  @include mq(laptop) {
    margin-bottom: 0px;
    width: 360px;
    height: 570px;
  }
}

//포트폴리오 애니메이션 요소 관리
.portfolio-item-style:nth-child(1) {
  @include mq(phonel) {
    animation-name: portfolio-item-show;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }

  @include mq(laptop) {
    animation-name: portfolio-item-show;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.portfolio-item-style:nth-child(2) {
  @include mq(laptop) {
    animation-name: portfolio-item-show;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.portfolio-item-style:nth-child(3) {
  @include mq(laptop) {
    animation-name: portfolio-item-show;
    animation-duration: 0.8s;
    animation-delay: 0.6s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.portfolio-item-style:nth-child(4) {
  @include mq(laptop) {
    animation-name: portfolio-item-show;
    animation-duration: 0.8s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.portfolio-link {
  @include mq(laptop) {
    width: 360px;
    height: 570px;
    display: block;
  }
}

.portfolio-image-style {
  @include mq(phonel) {
    width: 335px;
    height: 530px;
    border-radius: 24px;
    overflow: hidden;
  }
  @include mq(laptop) {
    width: 360px;
    height: 570px;
    border-radius: 24px;
    overflow: hidden;
  }
}

.portfolio-item-one-image {
  @include mq(laptop) {
    background-image: url(/images/01_Project/project-thumbnail/Project_1.jpg);
  }
}

.portfolio-item-two-image {
  @include mq(laptop) {
    background-image: url(/images/01_Project/project-thumbnail/Project_2.jpg);
  }
}

.portfolio-item-three-image {
  @include mq(laptop) {
    background-image: url(/images/01_Project/project-thumbnail/Project_3.jpg);
  }
}

.portfolio-item-four-image {
  @include mq(laptop) {
    background-image: url(/images/01_Project/project-thumbnail/Project_4.jpg);
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - header animation
@keyframes header-show {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.header__title {
  animation-name: header-show;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  //animation-delay: 2.2s;
  animation-fill-mode: both;
}

.menu__list__item:nth-child(1) {
  animation-name: header-show;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  //animation-delay: 2.3s;
  animation-fill-mode: both;
}
.menu__list__item:nth-child(2) {
  animation-name: header-show;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  //animation-delay: 2.4s;
  animation-fill-mode: both;
}
.menu__list__item:nth-child(3) {
  animation-name: header-show;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  //animation-delay: 2.5s;
  animation-fill-mode: both;
}
.menu__list__item:nth-child(4) {
  animation-name: header-show;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  //animation-delay: 2.6s;
  animation-fill-mode: both;
}

.menu__list__sub__item {
  animation-name: header-show;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  //animation-delay: 2.7s;
  animation-fill-mode: both;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - about new design

@keyframes about-title-show {
  from {
    transform: translateY(50px) scaleY(1.3);
    opacity: 0;
  }
  to {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@keyframes about-line-show {
  from {
    transform: scale(0);
    opacity: 0;
    background-color: #a237ff;
  }
  to {
    transform: scale(1);
    opacity: 1;
    background-color: #ffffff;
  }
}

@keyframes about-description-show {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes about-title-fill {
  from {
    fill: rgba($color: #a237ff, $alpha: 1);
  }
  to {
    fill: rgba($color: #ffffff, $alpha: 1);
  }
}

@keyframes about-border-show {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.about-group {
  @include mq(phonel) {
    float: left;
    clear: both;
    width: 100%;
  }
  @include mq(laptop) {
    float: left;
    clear: both;
    width: 100%;
  }
}

.about-profile {
  @include mq(laptop) {
  }
}

.about-title-wrap {
  @include mq(phonel) {
    max-width: 100%;
    margin-top: 40px;
  }
  @include mq(laptop) {
    max-width: 100%;
    margin-top: 50px;
  }
}

.about-title-one-wrap {
  @include mq(phonel) {
    max-width: 236px;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(laptop) {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-title-one {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 74px;
    height: 30px;
    margin-left: 0px;
    margin-top: 0px;
    //애니메이션 요소
    animation-name: about-title-show;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 147px;
    height: 61px;
    margin-left: 0px;
    margin-top: 0px;
    //애니메이션 요소
    animation-name: about-title-show;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.about-title-two {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 146px;
    height: 37px;
    margin-left: 10px;
    top: 8px;
    //애니메이션 요소
    animation-name: about-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 292px;
    height: 74px;
    margin-left: 27px;
    top: 17px;
    //애니메이션 요소
    animation-name: about-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.about-title-two-wrap {
  @include mq(phonel) {
    max-width: 183px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  @include mq(laptop) {
    max-width: 367px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
  }
}

.about-title-three {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 73px;
    height: 30px;
    margin-left: 0px;
    top: 0px;
    //애니메이션 요소
    animation-name: about-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 147px;
    height: 61px;
    margin-left: 0px;
    top: 0px;
    //애니메이션 요소
    animation-name: about-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.about-title-four {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 100px;
    height: 32px;
    margin-left: 4px;
    top: 0px;
    //애니메이션 요소
    animation-name: about-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 201px;
    height: 62px;
    margin-left: 15px;
    top: 0px;
    //애니메이션 요소
    animation-name: about-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

#hello-one {
  @include mq(laptop) {
    animation-name: about-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#designers {
  @include mq(laptop) {
    animation-name: about-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#hello-two {
  @include mq(laptop) {
    animation-name: about-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#world {
  @include mq(laptop) {
    animation-name: about-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.about-title-line {
  @include mq(phonel) {
    width: 335px;
    height: 1px;
    background-color: rgba($color: #ffffff, $alpha: 1);
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    //애니메이션 요소
    animation-name: about-line-show;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    width: 960px;
    height: 1px;
    background-color: rgba($color: #ffffff, $alpha: 1);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    //애니메이션 요소
    animation-name: about-line-show;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.about-profile-info {
  @include mq(phonel) {
    animation-name: about-description-show;
    animation-duration: 0.8s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    animation-name: about-description-show;
    animation-duration: 0.8s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.about-profile-image {
  @include mq(phonel) {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  @include mq(laptop) {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 82px;
  }
}

.profile-title {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    color: white;
    margin-top: 20px;
  }
  @include mq(laptop) {
    font-family: $title-font;
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    color: white;
    margin-top: 24px;
  }
}

.profile-location {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-top: 8px;
  }
  @include mq(laptop) {
    font-family: $title-font;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-top: 16px;
  }
}

.profile-contact-one {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-top: 32px;
  }
  @include mq(laptop) {
    font-family: $title-font;
    font-style: italic;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-top: 56px;
  }
}

.profile-contact-two {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin-top: 8px;
  }
  @include mq(laptop) {
    font-family: $title-font;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-top: 10px;
  }
}

.profile-description {
  @include mq(phonel) {
    display: none;
  }
  @include mq(laptop) {
    display: block;
    font-family: $body-font;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 2.1;
  }
}

.mobile-profile-description {
  @include mq(phonel) {
    width: 335px;
    font-family: $body-font;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 1.7;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(laptop) {
    display: none;
  }
}

.profile-description-one {
  @include mq(phonel) {
    margin-top: 40px;
  }
  @include mq(laptop) {
    margin-top: 80px;
  }
}

.profile-description-two {
  @include mq(phonel) {
    margin-top: 20px;
  }
  @include mq(laptop) {
    margin-top: 24px;
  }
}

.about-line {
  @include mq(phonel) {
    margin: 0 auto;
    width: 335px;
    height: 1px;
    background-color: #222222;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  @include mq(laptop) {
    margin: 0 auto;
    width: 960px;
    height: 1px;
    background-color: #222222;
    margin-top: 90px;
    margin-bottom: 90px;
    //애니메이션 요소
    animation-name: about-border-show;
    animation-duration: 0.6s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.about-work {
  @include mq(laptop) {
    animation-name: about-description-show;
    animation-duration: 0.6s;
    animation-delay: 0.9s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.work-title {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    color: white;
  }
  @include mq(laptop) {
    font-family: $title-font;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: white;
    margin-top: 24px;
  }
}

.experience-one {
  @include mq(phonel) {
    margin-top: 32px;
  }
  @include mq(laptop) {
    margin-top: 36px;
  }
}

.experiecne-two {
  @include mq(phonel) {
    margin-top: 32px;
  }
  @include mq(laptop) {
    margin-top: 40px;
  }
}

.experience-title {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: white;
  }
  @include mq(laptop) {
    font-family: $title-font;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: white;
  }
}

.experience-date {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin-top: 6px;
  }
  @include mq(laptop) {
    font-family: $title-font;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin-top: 10px;
  }
}

.experiecnce-project {
  @include mq(phonel) {
    font-family: $body-font;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #666666;
    margin-top: 12px;
    line-height: 1.7;
  }
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #666666;
    margin-top: 20px;
    line-height: 1.8;
  }
}

.about-work-skills {
  @include mq(phonel) {
    margin-top: 70px;
  }
  @include mq(laptop) {
    margin-top: 100px;
  }
}

.skills-info {
  @include mq(phonel) {
    width: 300px;
    font-family: $body-font;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #666666;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
  }
  @include mq(laptop) {
    width: 420px;
    font-family: $body-font;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #666666;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8;
  }
}

.about-work-education {
  @include mq(phonel) {
    margin-top: 70px;
  }
  @include mq(laptop) {
    margin-top: 100px;
  }
}

.education-info {
  @include mq(phonel) {
    font-family: $body-font;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #666666;
    margin-top: 16px;
  }
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #666666;
    margin-top: 20px;
    line-height: 1.8;
  }
}

.about-work-resume {
  @include mq(phonel) {
    margin-top: 70px;
  }
  @include mq(laptop) {
    margin-top: 100px;
  }
}

.korean-link {
  @include mq(phonel) {
    font-family: $body-font;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    margin-top: 16px;
    margin-right: 6 px;
    text-decoration: underline;
  }
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #666666;
    margin-top: 20px;
    line-height: 1.8;
    margin-right: 6px;
    text-decoration: underline;
  }
}

.english-link {
  @include mq(phonel) {
    font-family: $body-font;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    margin-top: 16px;
    margin-left: 6px;
    text-decoration: underline;
  }
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #666666;
    margin-top: 20px;
    line-height: 1.8;
    margin-left: 6px;
    text-decoration: underline;
  }
}

.resume-link {
  @include mq(phonel) {
    position: relative;
    top: 16px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 92px;
  }
  @include mq(laptop) {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 110px;
  }
}

// Popup new Design

@keyframes popup-show {
  from {
    opacity: 0;
    transform: translateY(50px);
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    transform: scale(1);
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.global-popup {
  @include mq(phonel) {
    z-index: 999999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include mq(laptop) {
    z-index: 999999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.popup-overlay {
  @include mq(phonel) {
  }
  @include mq(laptop) {
  }
}

.popup-overlay-dim {
  @include mq(phonel) {
    background-color: rgba($color: #000000, $alpha: 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999998;
  }
  @include mq(laptop) {
    background-color: rgba($color: #000, $alpha: 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999998;
    //애니메이션 요소
    animation-name: overlay-show;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.popup-contents {
  @include mq(laptop) {
    //애니메이션 요소
  }
}

.popup-show {
  @include mq(phonel) {
    position: relative;
    background-color: rgba($color: #111111, $alpha: 1);
    border-radius: 24px;
    border: solid rgba($color: #333333, $alpha: 1) 1px;
    z-index: 9999999;
    padding-top: 32px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 44px;
  }
  @include mq(laptop) {
    position: relative;
    //left: 50%;
    //top: 50%;
    //transform: translate(-50%, -50%);
    background-color: rgba($color: #111111, $alpha: 1);
    border-radius: 24px;
    border: solid #333333 1px;
    z-index: 9999999;
    padding-top: 50px;
    padding-left: 36px;
    padding-right: 80px;
    padding-bottom: 50px;
    //애니메이션 요소
    animation-name: popup-show;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.popup-title {
  @include mq(phonel) {
    width: 93px;
    height: 39px;
    margin-bottom: 20px;
  }
  @include mq(laptop) {
    width: 108px;
    height: 45px;
    margin-bottom: 20px;
  }
}

.popup-description {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    color: rgba($color: #666666, $alpha: 1);
    margin-bottom: 16px;
  }
  @include mq(laptop) {
    font-family: $title-font;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: rgba($color: #bbbbbb, $alpha: 1);
    margin-bottom: 16px;
  }
}

.popup-contact {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.6;
    color: rgba($color: #bbbbbb, $alpha: 1);
    margin-bottom: 28px;
  }
  @include mq(laptop) {
    font-family: $title-font;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.7;
    color: rgba($color: #bbbbbb, $alpha: 1);
    margin-bottom: 36px;
  }
}

.popup-button-close {
  @include mq(phonel) {
    width: 100%;
  }
  @include mq(laptop) {
    width: 100%;
  }
}

.mobile-modal {
  @include mq(phonel) {
    position: relative;
    width: 100%;
  }
}

#popup-close {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 17px;
    font-weight: 700;
    color: rgba($color: #ffffff, $alpha: 1);
    margin: 0 auto;
  }
  @include mq(laptop) {
    font-family: $title-font;
    font-size: 20px;
    font-weight: 700;
    color: rgba($color: #ffffff, $alpha: 1);
    margin: 0 auto;

    &:hover {
      color: #ffffff;
      letter-spacing: 1px;
      transition: 0.3s ease-in-out;
    }
  }
}

.popup-hidden {
  @include mq(phonel) {
    display: none;
  }
  @include mq(laptop) {
    display: none;
  }
}
