---
layout: default
title: Blog
description: Blog
featured_image: /images/social.jpg
---

<div class="blog-group">
  <section class="intro">
    <div class="blog-wrap">
      <div class="blog-title-wrap">
        <div class="blog-title-one-wrap">
          <img class="blog-title-one" src="/images/01_blog_title/Records.svg" />
          <img class="blog-title-two" src="/images/01_blog_title/my.svg" />
          <img
            class="blog-title-three"
            src="/images/01_blog_title/personal.svg"
          />
        </div>
        <div class="blog-title-two-wrap">
          <img
            class="blog-title-four"
            src="/images/01_blog_title/eXperiences.svg"
          />
          <img class="blog-title-five" src="/images/01_blog_title/&.svg" />
          <img
            class="blog-title-six"
            src="/images/01_blog_title/Writings.svg"
          />
          <img class="blog-title-seven" src="/images/01_blog_title/&.svg" />
          <img
            class="blog-title-eight"
            src="/images/01_blog_title/Thoughts.svg"
          />
          <div class="blog-title-border-one"></div>
          <div class="blog-title-border-two"></div>
          <div class="blog-title-border-three"></div>
          <div class="blog-title-border-four"></div>
          <div class="blog-title-border-five"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="post">
    <div class="post-border"></div>
    <div class="post-wrap">
      <div class="post-grid">
        <article class="post-item-one post-item-style-one">
          <a class="post-link" href="/blog/demo-post">
            <div class="post-image-style post-image-dim">
              <img
                class="post-hover-image"
                src="/images/02_Post/Post-thumbnail/Post_1.png"
              />
            </div>
            <!--<div class="post-item-one-image post-image-style"></div>-->
            <div class="post-info-wrap">
              <div class="post-title">
                We took our biggest live event virtual
                <br />it felt a whole lot like the real thing
              </div>
              <div class="post-description">
                과거에는 HTML에 디자인적 요소를 포함하여 작성하는 것이
                일반적이었다. 다시 말해서 온갖 레이아웃, 디자인 정보를 HTML 안에
                욱여넣다 보니 HTML의 본연의 목적 구조화된 문서가 아닌 디자인을
                위한 문서로 전락하고 말았다. 표를 작성해야 …
              </div>
              <div class="post-date">2021/03/10 Mon</div>
            </div>
          </a>
        </article>

        <article class="post-item-two post-item-style">
          <a class="post-link" href="/blog/demo-post">
            <div class="post-image-style post-image-dim">
              <img
                class="post-hover-image"
                src="/images/02_Post/Post-thumbnail/Post_2.png"
              />
            </div>
            <div class="post-info-wrap">
              <div class="post-title">
                We took our biggest live event virtual
                <br />it felt a whole lot like the real thing
              </div>
              <div class="post-description">
                과거에는 HTML에 디자인적 요소를 포함하여 작성하는 것이
                일반적이었다. 다시 말해서 온갖 레이아웃, 디자인 정보를 HTML 안에
                욱여넣다 보니 HTML의 본연의 목적 구조화된 문서가 아닌 디자인을
                위한 문서로 전락하고 말았다. 표를 작성해야 …
              </div>
              <div class="post-date">2021/03/10 Mon</div>
            </div>
          </a>
        </article>

        <article class="post-item-three post-item-style">
          <a class="post-link" href="/_posts/2018-06-30-demo-post">
            <div class="post-image-style post-image-dim">
              <img
                class="post-hover-image"
                src="/images/02_Post/Post-thumbnail/Post_3.png"
              />
            </div>
            <div class="post-info-wrap">
              <div class="post-title">
                We took our biggest live event virtual
                <br />it felt a whole lot like the real thing
              </div>
              <div class="post-description">
                과거에는 HTML에 디자인적 요소를 포함하여 작성하는 것이
                일반적이었다. 다시 말해서 온갖 레이아웃, 디자인 정보를 HTML 안에
                욱여넣다 보니 HTML의 본연의 목적 구조화된 문서가 아닌 디자인을
                위한 문서로 전락하고 말았다. 표를 작성해야 …
              </div>
              <div class="post-date">2021/03/10 Mon</div>
            </div>
          </a>
        </article>

        <article class="post-item-four post-item-style" data-scroll>
          <a class="post-link" href="/_posts/2018-06-30-demo-post">
            <div class="post-image-style post-image-dim">
              <img
                class="post-hover-image"
                src="/images/02_Post/Post-thumbnail/Post_4.png"
              />
            </div>
            <div class="post-info-wrap">
              <div class="post-title">
                We took our biggest live event virtual
                <br />it felt a whole lot like the real thing
              </div>
              <div class="post-description">
                과거에는 HTML에 디자인적 요소를 포함하여 작성하는 것이
                일반적이었다. 다시 말해서 온갖 레이아웃, 디자인 정보를 HTML 안에
                욱여넣다 보니 HTML의 본연의 목적 구조화된 문서가 아닌 디자인을
                위한 문서로 전락하고 말았다. 표를 작성해야 …
              </div>
              <div class="post-date">2021/03/10 Mon</div>
            </div>
          </a>
        </article>

        <article class="post-item-five post-item-card-blue-style" data-scroll>
          <a class="post-link" href="/_posts/2018-06-30-demo-post">
            <div class="post-card-info-wrap">
              <div class="post-card-title post-blue-color">
                2021/03/12
                <br />Sunday
              </div>
              <div class="post-card-description post-blue-color">
                과거에는 HTML에 디자인적 요소를 포함하여 작성하는 것이
                일반적이었다. 다시 말해서 온갖 레이아웃, 디자인 정보를 HTML 안에
                욱여넣다 보니 HTML의 본연의 목적 구조화된 문서가 아닌 디자인을
                위한 문서로 전락하고 말았다. 표를 작성해야 …
              </div>
            </div>
            <button class="post-card-button post-blue-button-color">
              <div class="post-card-button-label post-blue-color">See More</div>
              <img
                class="post-card-arrow"
                src="/images/01_blog_title/Arrow_blue.svg"
              />
            </button>
          </a>
        </article>
      </div>
    </div>
  </section>
</div>

{% if paginator.total_pages > 1 %}

<section class="pagination">
  <div class="wrap">
    {% if paginator.previous_page %}
    <a
      href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
      class="button button--light pagination__prev"
      ><i class="fa fa-angle-left" aria-hidden="true"></i>
      <span>Newer Posts</span></a
    >
    {% endif %} {% if paginator.next_page %}
    <a
      href="{{ paginator.next_page_path | prepend: site.baseurl }}"
      class="button button--light pagination__next"
      ><span>Older Posts</span>
      <i class="fa fa-angle-right" aria-hidden="true"></i
    ></a>
    {% endif %}
  </div>
</section>

{% endif %}
