---
layout: default
title: Blog
description: Blog
featured_image: /images/social.jpg
---

<section class="intro">
  <div class="blog-wrap">
    <div class="blog-title-wrap">
      <div class="blog-title-one-wrap">
        <img />
      </div>
      <div class="blog-title-two-wrap">
        <img />
        <div class="blog-title-border-one"></div>
        <div class="blog-title-border-two"></div>
        <div class="blog-title-border-three"></div>
      </div>
    </div>
  </div>
</section>

<section class="post">
  <div class="post-border"></div>
  <div class="post-wrap">
    <div class="post-grid">
      <article class="post-item-one post-item-style">
        <a class="post-link" href="/_posts/2018-06-30-demo-post">
          <div class="post-item-one-image post-image-style"></div>
        </a>
      </article>
    </div>
  </div>
</section>

<section class="intro">
  <div class="blog__wrap">
    <div class="blog__title__one">
      💬 Records experiences and personal writings.
    </div>
  </div>
  <div class="blog__wrap">
    <div class="blog__body">
      It records design, insights, experiences, books, keyboards, everything
      that surrounds it.
    </div>
  </div>
</section>

<section class="blog">
  <div class="content-wrap blog-wrap">
    <div class="blog-grid">
      {% for post in paginator.posts %}
      <article class="new__blog-post">
        <a class="new__blog-post__link" href="{{ post.url }}">
          <div class="new__blog-post__image">
            <img src="{{ post.featured_image  }}" alt="{{ post.title }}" />
          </div>
          <div class="new__blog-post__contents">
            <div class="new__blog-post__info">
              <div class="new__blog-post__title">{{ post.title }}</div>
              <div class="new__blog-post__subtitle">
                {{ post.date | date_to_long_string }}
              </div>
            </div>
          </div>
        </a>
      </article>
      {% endfor %}
    </div>
  </div>
</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">
  <div class="wrap">
    {% if paginator.previous_page %}
    <a
      href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
      class="button button--light pagination__prev"
      ><i class="fa fa-angle-left" aria-hidden="true"></i>
      <span>Newer Posts</span></a
    >
    {% endif %} {% if paginator.next_page %}
    <a
      href="{{ paginator.next_page_path | prepend: site.baseurl }}"
      class="button button--light pagination__next"
      ><span>Older Posts</span>
      <i class="fa fa-angle-right" aria-hidden="true"></i
    ></a>
    {% endif %}
  </div>
</section>

{% endif %}

<!--
    <article class="blog-post">
      <a class="blog-post__link" href="{{ post.url }}">
        <div class="blog-post__image">
          <img src="{{ post.featured_image  }}" alt="{{ post.title }}" />
        </div>

        <div class="blog-post__content">
          <div class="blog-post__info">
            <h2 class="blog-post__title">{{ post.title }}</h2>
            <p class="blog-post__subtitle">
              {{ post.date | date_to_long_string }}
            </p>
          </div>
        </div>
      </a>
    </article>
    -->
