// - - - - - - - - - - - - - - - - - -

// Blog

// - - - - - - - - - - - - - - - - - -

.blog {
  padding: 0 $grid-spacing/2;
}

.blog-wrap {
  font-size: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-column-gap: 50px;
  grid-row-gap: 60px;
  position: relative;
}

.blog-post {
  position: relative;
  padding: $grid-spacing/2;
  float: left;
  width: 50%;
}

.blog-post__link {
  position: relative;
  display: block;

  @include mq(tabletl) {
    &:hover {
      .blog-post__content {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.blog-post__image {
  width: 100%;
}

.blog-post__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($overlay-background-color, $overlay-opacity);

  opacity: 0;
  visibility: hidden;
  @include transition(all 0.2s ease-in-out);
}

.blog-post__info {
  text-align: center;
}

.blog-post__title {
  color: $overlay-text-color;
  font-size: $grid-item-title-small;
  font-weight: $grid-item-title-weight;
  letter-spacing: $grid-item-title-spacing;

  @include mq(tabletp) {
    font-size: $grid-item-title-medium;
  }

  @include mq(laptop) {
    font-size: $grid-item-title-large;
  }
}

.blog-post__subtitle {
  margin-top: 5px;
  color: rgba($overlay-text-color, 0.7);
  font-size: $grid-item-subtitle-small;
  font-weight: $grid-item-subtitle-weight;
  letter-spacing: $grid-item-subtitle-spacing;

  @include mq(tabletp) {
    font-size: $grid-item-subtitle-medium;
  }

  @include mq(laptop) {
    font-size: $grid-item-subtitle-large;
  }
}

.pagination {
}

.pagination__prev {
  float: left;
  margin-right: 10px;
}

.pagination__next {
  float: left;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - blog design

.blog__wrap {
  //----텍스트 정렬 추가
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 500px;
  //---- 공백 스타일 추가
  white-space: normal;

  @include mq(tabletp) {
    padding: 0;
    max-width: 70%;
  }

  @include mq(tabletl) {
    max-width: 65%;
  }

  @include mq(laptop) {
    max-width: 60%;
  }
}
//---- mixins 값 설명
//min-width = 해당 값 이상일 경우 적용 -> 현재 상태 값
//max-width = 해당 값 이하일 경우 적용

.blog__title__one {
  //----기본 값
  font-family: $title-font;
  letter-spacing: $h1-spacing;
  //font-size: 55px;
  font-weight: 600;
  white-space: normal;
  color: #ffffff;
  max-width: 100%;

  @include mq(phonel) {
    //----320px 이상일 경우 적용
    padding: 0;
    font-size: 47px;
    line-height: 1.2;
  }

  @include mq(tabletp) {
    //----768px 이상일 경우 적용
    padding: 0;
    font-size: 47px;
    line-height: 1.4;
  }

  @include mq(tabletl) {
    //----1024px 이상일 경우 적용
    font-size: 47px;
    line-height: 1.4;
  }

  @include mq(laptop) {
    //----1220px 이상일 경우 적용
    font-size: 54px;
    line-height: 1.2;
  }
}

.blog__body {
  //----기본 값
  font-family: $title-font;
  letter-spacing: $p-spacing;
  //font-size: 24px;
  font-weight: 400;
  color: #636c73;
  max-width: 100%;
  //line-height: 1.5;

  @include mq(phonel) {
    //----320px 이상일 경우 적용
    padding-top: 32px;
    font-size: 16px;
    line-height: 1.7;
  }

  @include mq(tabletp) {
    //----768px 이상일 경우 적용
    padding-top: 28px;
    font-size: 16px;
    line-height: 1.7;
  }

  @include mq(tabletl) {
    //----1024px 이상일 경우 적용
    padding-top: 24px;
    font-size: 16px;
    line-height: 1.7;
  }

  @include mq(laptop) {
    //----1220px 이상일 경우 적용
    padding-top: 24px;
    font-size: 24px;
    line-height: 1.7;
  }
}

.new__blog-post__link {
  position: relative;
  display: block;
}

.new__blog-post__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: left;
  justify-content: left;
}

.new__blog-post__info {
  text-align: left;
}

.new__blog-post__title {
  color: #ffffff;
  font-family: $body-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.new__blog-post__subtitle {
  color: #636c73;
  font-family: $body-font;
  font-weight: 500;
  font-size: 16px;
}
