// - - - - - - - - - - - - - - - - - -

// Blog

// - - - - - - - - - - - - - - - - - -

.blog-group {
  @include mq(laptop) {
    float: left;
    clear: both;
    width: 100%;
    height: 1980px;
  }
}

.blog {
  //padding: 0 $grid-spacing/2;
  margin-top: 65px;

  @include mq(tabletl) {
    margin-top: 100px;
  }
}

.blog-wrap {
  //---- 이상하게, div 자체에 스타일이 적용되서 !important로 우선 적용
  position: relative !important;
  height: 100% !important;
}

.pagination {
}

.pagination__prev {
  float: left;
  margin-right: 10px;
}

.pagination__next {
  float: left;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Blog new design

.blog-wrap {
  @include mq(laptop) {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 1590px;
    height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 89px;
    //background-color: bisque;
  }
}

.blog-title-one-wrap {
  @include mq(laptop) {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 606px;
    height: 79px;
    //background-color: blueviolet;
  }
}

.blog-title-one {
  @include mq(laptop) {
    position: relative;
    display: inline;
    top: 0;
  }
}

.blog-title-two {
  @include mq(laptop) {
    position: relative;
    display: inline;
    top: 18px;
    margin-left: 28px;
  }
}

.blog-title-three {
  @include mq(laptop) {
    position: relative;
    display: inline;
    top: 17px;
    margin-left: 27px;
  }
}

.blog-title-two-wrap {
  @include mq(laptop) {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 1044px;
    height: 79px;
    margin-top: 18px;
    //background-color: chocolate;
  }
}

.blog-title-four {
  @include mq(laptop) {
    position: relative;
    display: inline;
    top: 18px;
    margin-left: 0px;
  }
}

.blog-title-five {
  @include mq(laptop) {
    position: relative;
    display: inline;
    top: 0;
    margin-left: 26px;
  }
}

.blog-title-six {
  @include mq(laptop) {
    position: relative;
    display: inline;
    top: 18px;
    margin-left: 21px;
  }
}

.blog-title-seven {
  @include mq(laptop) {
    position: relative;
    display: inline;
    top: 0;
    margin-left: 26px;
  }
}

.blog-title-eight {
  @include mq(laptop) {
    position: relative;
    display: inline;
    top: 18px;
    margin-left: 20px;
  }
}

.blog-title-border-one {
  @include mq(laptop) {
    position: relative;
    top: 8px;
    left: 0px;
    width: 67px;
    height: 2px;
    background-color: white;
  }
}

.blog-title-border-two {
  @include mq(laptop) {
    position: relative;
    top: 6px;
    margin-left: 87px;
    width: 532px;
    height: 2px;
    background-color: white;
  }
}

.blog-title-border-three {
  @include mq(laptop) {
    position: relative;
    top: 4px;
    margin-left: 667px;
    width: 256px;
    height: 2px;
    background-color: white;
  }
}

.blog-title-border-four {
  @include mq(laptop) {
    position: relative;
    top: 1px;
    margin-left: 971px;
    width: 74px;
    height: 2px;
    background-color: white;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Post new design

.post-border {
  @include mq(laptop) {
    position: relative;
    margin: 0 auto;
    top: 296px;
    width: 1590px;
    height: 1px;
    background-color: #222222;
  }
}

.post {
  @include mq(laptop) {
    padding: 0 $grid-spacing/2;
    margin-top: 0px;
    top: 0px;
  }
}

.post-wrap {
  @include mq(laptop) {
    position: relative;
    width: 1590px;
    left: 50%;
    top: 360px;
    transform: translate(-50%, 0%);
  }
}

.post-grid {
  @include mq(laptop) {
    font-size: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 80px;
    position: relative;
  }
}

//--------------------Post 기본 아이템 스타일 관리

//post item 전체 크기 관리
.post-item-style {
  @include mq(laptop) {
    width: 496px;
    height: 600px;
  }
}

//----------post image 전체 이미지 관리
.post-image-style-one {
  @include mq(laptop) {
    width: 496px;
    height: 350px;
    border-radius: 24px;
    overflow: hidden;
  }
}

.post-image-dim {
  @include mq(laptop) {
    width: 496px;
    height: 350px;
    border-radius: 24px;
    background-color: black;
    opacity: 0.85;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    overflow: hidden;
  }
}

.post-hover-image {
  @include mq(laptop) {
    width: 496px;
    height: 350px;
    transform: scale(1);
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }
}

.post-item-one-image {
  @include mq(laptop) {
    background-image: url(/images/02_Post/Post-thumbnail/Post_1.png);
  }
}

.post-item-two-image {
  @include mq(laptop) {
    background-image: url(/images/02_Post/Post-thumbnail/Post_2.png);
  }
}

.post-item-three-image {
  @include mq(laptop) {
    background-image: url(/images/02_Post/Post-thumbnail/Post_3.png);
  }
}

.post-item-four-image {
  @include mq(laptop) {
    background-image: url(/images/02_Post/Post-thumbnail/Post_4.png);
  }
}

.post-info-wrap {
  @include mq(laptop) {
    margin-top: 28px;
    text-align: left;
  }
}

.post-title {
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: white;
    opacity: 1;
    letter-spacing: 0px;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }
}

.post-description {
  @include mq(laptop) {
    margin-top: 20px;
    font-family: $body-font;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
    color: white;
    opacity: 1;
  }
}

.post-date {
  @include mq(laptop) {
    margin-top: 34px;
    font-family: $title-font;
    font-size: 16px;
    font-weight: 700;
    color: white;
    opacity: 1;
  }
}

//Post 카드 아이템 스타일 관리

.post-item-card-blue-style {
  @include mq(laptop) {
    width: 496px;
    height: 600px;
    border: 1px solid #0085ec;
    border-radius: 24px;
    background-color: #003f70;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 40px;
  }
}

.post-card-info-wrap {
  @include mq(laptop) {
    text-align: left;
  }
}

.post-card-title {
  @include mq(laptop) {
    font-family: $title-font;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
  }
}

.post-card-description {
  @include mq(laptop) {
    margin-top: 36px;
    font-family: $body-font;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.8;
  }
}

.post-card-button {
  @include mq(laptop) {
    margin-top: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 132px;
    height: 50px;
  }
}

.post-blue-button-color {
  @include mq(laptop) {
    border: 1px solid rgba($color: #0085ec, $alpha: 1);
    background-color: rgba($color: #000000, $alpha: 0);
  }
}

.post-card-button-label {
  @include mq(laptop) {
    font-family: $title-font;
    font-size: 14px;
    font-weight: 700;
  }
}

.post-card-arrow {
  @include mq(laptop) {
    position: relative;
    right: -7px;
    top: -3px;
  }
}
//Post 카드 아이템 텍스트 색상 관리

.post-blue-color {
  color: #249fff;
}

//Post 전체 Hover 관리

.post-item-one,
.post-item-two,
.post-item-three,
.post-item-four {
  @include mq(laptop) {
    &:hover {
      .post-title {
        letter-spacing: 0.015em;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
      }
      .post-hover-image {
        transform: scale(1.1);
        transition-duration: 1.5s;
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
      }
      .post-image-dim {
        background-color: black;
        opacity: 1;
        transition-duration: 0.3s;
        transition-timing-function: ubic-bezier(0.22, 1, 0.36, 1);
      }
    }
  }
}

.post-item-five {
  @include mq(laptop) {
    &:hover {
      .post-blue-color {
        color: rgba($color: #5db8ff, $alpha: 1);
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
        transition-duration: 0.2s;
      }
      .post-item-card-blue-style {
        border: 2px solid rgba($color: #5db8ff, $alpha: 1);
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
        transition-duration: 0.3s;
      }
      .post-blue-button-color {
        @include mq(laptop) {
          border: 1px solid rgba($color: #0085ec, $alpha: 1);
          transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
          transition-duration: 0.2s;
        }
      }
    }
  }
}
