// - - - - - - - - - - - - - - - - - -

// Blog

// - - - - - - - - - - - - - - - - - -

.blog-group {
  @include mq(laptop) {
  }
}

.blog {
  //padding: 0 $grid-spacing/2;
  margin-top: 65px;

  @include mq(tabletl) {
    margin-top: 100px;
  }
}

.pagination {
}

.pagination__prev {
  float: left;
  margin-right: 10px;
}

.pagination__next {
  float: left;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Blog new design

@keyframes blog-title-show {
  from {
    transform: translateY(50px) scaleY(1.3);
    opacity: 0;
  }
  to {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@keyframes blog-border-show {
  from {
    transform: scale(0);
    opacity: 0;
    background-color: #00ff6f;
  }
  to {
    transform: scale(1);
    opacity: 1;
    background-color: #ffffff;
  }
}

@keyframes blog-description-show {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes post-border-show {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes post-item-show {
  from {
    transform: translateY(60px);
    opacity: 0;
    scale: 1.2;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
    scale: 1;
  }
}

@keyframes blog-title-fill {
  from {
    fill: rgba($color: #00ff6f, $alpha: 1);
  }
  to {
    fill: rgba($color: #ffffff, $alpha: 1);
  }
}

.blog-wraper {
  @include mq(phonel) {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  @include mq(laptop) {
    max-width: 1036px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
  }
}

.blog-title-wrap {
  @include mq(phonel) {
    max-width: 100%;
  }
  @include mq(laptop) {
    max-width: 100%;
  }
}

.blog-title-one-wrap {
  @include mq(phonel) {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(laptop) {
    max-width: 601px;
    margin-left: auto;
    margin-right: auto;
  }
}

.blog-title-one {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 109px;
    height: 30px;
    top: -9px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 221px;
    height: 61px;
    top: 0;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.blog-title-two {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 39px;
    height: 26px;
    top: 0px;
    margin-left: 12px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 79px;
    height: 54px;
    top: 18px;
    margin-left: 28px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.blog-title-three {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 117px;
    height: 40px;
    top: 0px;
    margin-left: 11px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 238px;
    height: 80px;
    top: 17px;
    margin-left: 27px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.blog-title-two-wrap {
  @include mq(phonel) {
    max-width: 295px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  @include mq(laptop) {
    max-width: 1036px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}

.blog-title-four {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 158px;
    height: 37px;
    top: 0px;
    margin-left: 50px;
    margin-top: 8px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 346px;
    height: 75px;
    top: 18px;
    margin-left: 0px;
    margin-top: 0px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.blog-title-five {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 22px;
    height: 28px;
    top: -8px;
    margin-left: 7px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 44px;
    height: 58px;
    top: 0;
    margin-left: 26px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.blog-title-six {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 119px;
    height: 38px;
    top: 0px;
    margin-left: 0px;
    margin-top: 8px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 242px;
    height: 76px;
    top: 18px;
    margin-left: 21px;
    margin-top: 0px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.blog-title-seven {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 22px;
    height: 28px;
    top: -8px;
    margin-left: 10px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.6s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 44px;
    height: 58px;
    top: 0;
    margin-left: 26px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.6s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.blog-title-eight {
  @include mq(phonel) {
    position: relative;
    display: inline;
    width: 124px;
    height: 39px;
    top: 0px;
    margin-left: 10px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    position: relative;
    display: inline;
    width: 252px;
    height: 79px;
    top: 18px;
    margin-left: 20px;
    //애니메이션 요소
    animation-name: blog-title-show;
    animation-duration: 1.2s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.blog-title-border-one {
  @include mq(phonel) {
    margin-top: -53px;
    margin-left: 49px;
    width: 32px;
    height: 1px;
    background-color: white;
    //애니메이션 요소
    animation-name: blog-border-show;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    margin-top: 5px;
    margin-left: 0px;
    width: 67px;
    height: 2px;
    background-color: white;
    //애니메이션 요소
    animation-name: blog-border-show;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.blog-title-border-two {
  @include mq(phonel) {
    margin-top: -1px;
    margin-left: 90px;
    width: 152px;
    height: 1px;
    background-color: white;
    //애니메이션 요소
    animation-name: blog-border-show;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    margin-top: -1px;
    margin-left: 84px;
    width: 530px;
    height: 2px;
    background-color: white;
    //애니메이션 요소
    animation-name: blog-border-show;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.blog-title-border-three {
  @include mq(phonel) {
    margin-top: 45px;
    margin-left: 0px;
    width: 85px;
    height: 1px;
    background-color: white;
    //애니메이션 요소
    animation-name: blog-border-show;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    margin-top: -1px;
    margin-left: 665px;
    width: 252px;
    height: 2px;
    background-color: white;
    //애니메이션 요소
    animation-name: blog-border-show;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.blog-title-border-four {
  @include mq(phonel) {
    margin-top: -1px;
    margin-left: 109px;
    width: 124px;
    height: 1px;
    background-color: white;
    //애니메이션 요소
    animation-name: blog-border-show;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    margin-top: -2px;
    margin-left: 963px;
    width: 74px;
    height: 2px;
    background-color: white;
    //애니메이션 요소
    animation-name: blog-border-show;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.blog-title-border-five {
  @include mq(phonel) {
    margin-top: -1px;
    margin-left: 257px;
    width: 38px;
    height: 1px;
    background-color: white;
    //애니메이션 요소
    animation-name: blog-border-show;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    display: none;
  }
}

.blog-description {
  @include mq(phonel) {
    width: 335px;
    font-family: $title-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
    //애니메이션 요소
    animation-name: blog-description-show;
    animation-duration: 0.6s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    width: 680px;
    font-family: $title-font;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    //애니메이션 요소
    animation-name: blog-description-show;
    animation-duration: 0.6s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#records {
  @include mq(laptop) {
    animation-name: blog-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#my {
  @include mq(laptop) {
    animation-name: blog-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#personal {
  @include mq(laptop) {
    animation-name: blog-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#experience {
  @include mq(laptop) {
    animation-name: blog-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#post-and-one {
  @include mq(laptop) {
    animation-name: blog-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#writings {
  @include mq(laptop) {
    animation-name: blog-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.6s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#post-and-two {
  @include mq(laptop) {
    animation-name: blog-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.6s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

#thoughts {
  @include mq(laptop) {
    animation-name: blog-title-fill;
    animation-duration: 0.5s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Post new design

.post-border {
  @include mq(phonel) {
    margin-left: auto;
    margin-right: auto;
    width: 335px;
    height: 1px;
    background-color: #222222;
    //애니메이션 요소
    animation-name: post-border-show;
    animation-duration: 0.6s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    margin-left: auto;
    margin-right: auto;
    width: 1590px;
    height: 1px;
    background-color: #222222;
    //애니메이션 요소
    animation-name: post-border-show;
    animation-duration: 0.6s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.post {
  @include mq(laptop) {
    max-width: 100%;
    margin-top: 130px;
  }
}

.post-wrap {
  @include mq(phonel) {
    margin-top: 50px;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(laptop) {
    width: 1590px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
  }
}

.post-grid {
  @include mq(laptop) {
    font-size: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 80px;
    position: relative;
  }
}

//--------------------Post 기본 아이템 스타일 관리

//post item 전체 크기 관리

//----------post image 전체 이미지 관리
.post-image-style {
  @include mq(phonel) {
    width: 335px;
    height: 236px;
    border-radius: 24px;
    overflow: hidden;
  }
  @include mq(laptop) {
    width: 496px;
    height: 350px;
    border-radius: 24px;
    overflow: hidden;
  }
}

.post-image-dim {
  @include mq(phonel) {
    width: 335px;
    height: 236px;
    border-radius: 24px;
  }
  @include mq(laptop) {
    width: 496px;
    height: 350px;
    border-radius: 24px;
    background-color: black;
    opacity: 0.85;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    overflow: hidden;
  }
}

.post-hover-image {
  @include mq(phonel) {
    width: 335px;
    height: 236px;
    border-radius: 24px;
  }
  @include mq(laptop) {
    width: 496px;
    height: 350px;
    transform: scale(1);
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }
}

.post-item-one-image {
  @include mq(laptop) {
    background-image: url(/images/02_Post/Post-thumbnail/Post_1.png);
  }
}

.post-item-two-image {
  @include mq(laptop) {
    background-image: url(/images/02_Post/Post-thumbnail/Post_2.png);
  }
}

.post-item-three-image {
  @include mq(laptop) {
    background-image: url(/images/02_Post/Post-thumbnail/Post_3.png);
  }
}

.post-item-four-image {
  @include mq(laptop) {
    background-image: url(/images/02_Post/Post-thumbnail/Post_4.png);
  }
}

.post-info-wrap {
  @include mq(phonel) {
    margin-top: 14px;
    text-align: left;
  }
  @include mq(laptop) {
    margin-top: 28px;
    text-align: left;
  }
}

.post-title {
  @include mq(phonel) {
    font-family: $body-font;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: white;
  }
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: white;
    opacity: 1;
    letter-spacing: 0px;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }
}

.post-description {
  @include mq(phonel) {
    width: 310px;
    margin-top: 14px;
    font-family: $body-font;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.7;
    color: white;
  }

  @include mq(laptop) {
    width: 480px;
    margin-top: 20px;
    font-family: $body-font;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
    color: white;
    opacity: 1;
  }
}

.post-date {
  @include mq(phonel) {
    margin-top: 18px;
    font-family: $title-font;
    font-size: 14px;
    font-weight: 700;
    color: white;
    margin-bottom: 50px;
  }
  @include mq(laptop) {
    margin-top: 34px;
    font-family: $title-font;
    font-size: 16px;
    font-weight: 700;
    color: white;
    opacity: 1;
    margin-bottom: 0px;
  }
}

//Post 카드 아이템 스타일 관리

.post-item-card-blue-style {
  @include mq(phonel) {
    width: 335px;
    height: 454px;
    border: 1px solid #0085ec;
    border-radius: 24px;
    background-color: #003f70;
    padding-left: 24px;
    padding-top: 32px;
  }
  @include mq(laptop) {
    width: 496px;
    height: 600px;
    border: 1px solid #0085ec;
    border-radius: 24px;
    background-color: #003f70;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 40px;
  }
}

.post-card-info-wrap {
  @include mq(phonel) {
    text-align: left;
  }
  @include mq(laptop) {
    text-align: left;
  }
}

.post-card-title {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
  }
  @include mq(laptop) {
    font-family: $title-font;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
  }
}

.post-card-description {
  @include mq(phonel) {
    width: 287px;
    margin-top: 20px;
    font-family: $body-font;
    font-size: 12px;
    line-height: 1.8;
  }
  @include mq(laptop) {
    width: 430px;
    margin-top: 36px;
    font-family: $body-font;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.8;
  }
}

.post-card-button {
  @include mq(phonel) {
    opacity: 0%;
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 123px;
    height: 44px;
  }
  @include mq(laptop) {
    opacity: 0%;
    margin-top: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 132px;
    height: 50px;
  }
}

.post-blue-button-color {
  border: 1px solid rgba($color: #0085ec, $alpha: 1);
  background-color: rgba($color: #000000, $alpha: 0);
}

.post-card-button-label {
  @include mq(phonel) {
    font-family: $title-font;
    font-size: 14px;
    font-weight: 700;
  }
  @include mq(laptop) {
    font-family: $title-font;
    font-size: 14px;
    font-weight: 700;
  }
}

.post-card-arrow {
  @include mq(phonel) {
    position: relative;
    right: -3px;
    top: -2px;
    width: 8px;
  }
  @include mq(laptop) {
    position: relative;
    right: -7px;
    top: -3px;
    width: 8px;
  }
}
//Post 카드 아이템 텍스트 색상 관리

.post-blue-color {
  color: #249fff;
}

//Post 전체 Hover 관리

.post-item-one,
.post-item-two,
.post-item-three,
.post-item-four {
  @include mq(laptop) {
    &:hover {
      .post-title {
        letter-spacing: 0.008em;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
      }
      .post-hover-image {
        transform: scale(1.1);
        transition-duration: 1.5s;
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
      }
      .post-image-dim {
        background-color: black;
        opacity: 1;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
      }
    }
  }
}

.post-item-five {
  @include mq(laptop) {
    &:hover {
      .post-blue-color {
        color: rgba($color: #5db8ff, $alpha: 1);
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
        transition-duration: 0.2s;
      }
      .post-item-card-blue-style {
        border: 2px solid rgba($color: #5db8ff, $alpha: 1);
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
        transition-duration: 0.3s;
      }
      .post-blue-button-color {
        @include mq(laptop) {
          border: 1px solid rgba($color: #0085ec, $alpha: 1);
          transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
          transition-duration: 0.2s;
        }
      }
    }
  }
}

//애니메이션 관리
.post-item-one {
  @include mq(phonel) {
    animation-name: post-item-show;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
  @include mq(laptop) {
    animation-name: post-item-show;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.post-item-two {
  @include mq(laptop) {
    animation-name: post-item-show;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

.post-item-three {
  @include mq(laptop) {
    animation-name: post-item-show;
    animation-duration: 0.8s;
    animation-delay: 0.6s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: both;
  }
}

//-------------------------------------------------- Article New Design

@keyframes article-image-show {
  from {
    transform: translateY(-50px);
    transform: scale(2);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes article-title-show {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes article-line-show {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes article-contents-show {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.article-wrap {
  @include mq(phonel) {
    max-width: 335px;
    margin: 0 auto;
  }
  @include mq(laptop) {
    max-width: 640px;
    margin: 0 auto;
  }
}

.article-hero-image {
  @include mq(phonel) {
    border-radius: 12px;
  }
  @include mq(laptop) {
    width: 640px;
    height: 350px;
    border-radius: 12px;
    //애니메이션 요소
    animation-name: article-image-show;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.article-info {
  @include mq(phonel) {
    margin-top: 24px;
  }
  @include mq(laptop) {
    margin-top: 24px;
  }
}

.article-info-title {
  @include mq(phonel) {
    font-family: $body-font;
    font-size: 28px;
    font-weight: 300;
    color: white;
    line-height: 1.3;
  }
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 44px;
    font-weight: 300;
    color: white;
    line-height: 1.2;
    //애니메이션 요소
    animation-name: article-title-show;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.article-info-description {
  @include mq(phonel) {
    margin-top: 20px;
  }
  @include mq(laptop) {
    margin-top: 21px;
    //애니메이션 요소
    animation-name: article-title-show;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.article-date {
  @include mq(phonel) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 400;
    color: white;
  }
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 400;
    color: white;
  }
}
.article-info-description-line {
  @include mq(phonel) {
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
  }
  @include mq(laptop) {
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.article-writer {
  @include mq(phonel) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 700;
    color: white;
  }
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 700;
    color: white;
  }
}

.article-line {
  @include mq(phonel) {
    width: 335px;
    height: 1px;
    background-color: #222222;
    margin-top: 48px;
    margin-bottom: 48px;
  }
  @include mq(laptop) {
    width: 640px;
    height: 1px;
    background-color: #222222;
    margin-top: 48px;
    margin-bottom: 48px;
    //애니메이션 요소
    animation-name: article-line-show;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

.article-content-wrap {
  @include mq(phonel) {
    max-width: 335px;
    margin: 0 auto;
  }
  @include mq(laptop) {
    max-width: 640px;
    margin: 0 auto;
    //애니메이션 요소
    animation-name: article-contents-show;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}
