// - - - - - - - - - - - - - - - - - -

// Single page/post/project

// - - - - - - - - - - - - - - - - - -

.intro {
  h1 {
    @include mq(tabletp) {
      white-space: pre-line;
    }
  }

  p {
  }
}

.content-wrap {
  //---- 포트폴리오, 블로그 포스트 전체 width값 관리

  @include mq(tabletp) {
    max-width: 1590px;
    margin: 0 auto;
    height: auto;
  }
}

.single {
  @include mq(phonel) {
    margin-top: 0;
  }
  @include mq(laptop) {
    position: relative;
    width: 1590px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.single {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 500px;

    @include mq(phonel) {
      padding-left: 0px;
      padding-right: 0px;
    }

    @include mq(tabletp) {
      padding-left: 0;
      padding-right: 0;
      max-width: 70%;
    }

    @include mq(tabletl) {
      max-width: 65%;
    }

    @include mq(laptop) {
      max-width: 1590px;
    }
  }

  hr {
    margin: 30px auto;
    width: calc(100vw - 60px);
    max-width: 440px;

    @include mq(tabletp) {
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      max-width: 70%;
    }

    @include mq(tabletl) {
      max-width: 65%;
    }

    @include mq(laptop) {
      max-width: 60%;
    }
  }

  blockquote,
  figure {
    max-width: 90%;
    margin: 20px auto;

    @include mq(tabletp) {
      margin: 30px auto;
    }

    @include mq(laptop) {
      margin: 40px auto;
    }
  }

  blockquote p {
    max-width: 100%;
    padding: 0;
  }

  p a {
    font-weight: $bold-weight;
    border-bottom: 2px solid $accent-color;
  }

  p .button {
    margin-top: 10px;
  }

  .highlighter-rouge,
  table {
    margin: 20px auto;
    width: 100%;
    max-width: 90%;

    @include mq(phonel) {
      max-width: 335px;
      margin-top: 24px;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba($color: #0c0f22, $alpha: 1);
      border-radius: 12px;
      border: solid 1px #13193d;
    }

    @include mq(tabletl) {
      max-width: 65%;
    }

    @include mq(laptop) {
      margin-top: 24px;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      background-color: rgba($color: #0c0f22, $alpha: 1);
      border-radius: 12px;
      border: solid 1px #13193d;
    }
  }

  .highlight {
    display: block;
    padding: 0;
    line-height: 1.5;
    font-size: $p-small * 0.85;
    line-height: $p-lineheight;
    overflow: auto;

    @include mq(tabletp) {
      font-size: $p-medium * 0.85;
    }

    @include mq(laptop) {
      font-size: $p-large * 0.85;
    }

    .highlight {
      padding: 20px;

      @include mq(phonel) {
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 24px;
        padding-right: 24px;
      }

      @include mq(tabletp) {
        padding: 30px;
      }

      @include mq(laptop) {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 32px;
        padding-right: 24px;
      }
    }
  }

  table {
    border: 2px solid $text-dark-color;

    thead {
      background: $text-dark-color;
      color: $background-color;
      text-align: left;
      font-weight: $bold-weight;

      th {
        font-weight: $bold-weight;
      }
    }

    th,
    td {
      padding: 10px;
      font-size: $p-small;
      font-weight: $p-weight;

      @include mq(tabletp) {
        padding: 15px;
        font-size: $p-medium;
      }

      @include mq(laptop) {
        padding: 20px;
        font-size: $p-large;
      }
    }

    tr {
      &:nth-child(2n) {
        background: $background-alt-color;
      }
    }
  }
}

// 이미지, 비디오 간격 관리

.image-wrap,
.video-wrap {
  position: relative;
  max-width: 100%;

  @include mq(phonel) {
    max-width: 100%;
    margin: 24px auto 0 auto;
  }

  @include mq(laptop) {
    max-width: 1590px;
    margin: 24px auto 0 auto;
  }

  &:first-child {
    margin-top: 0;
  }
}

.image-wrap img {
  margin: 0 auto;
}

.video {
  position: relative;
  width: 100%;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//------------------------------------------------------------Project New Design

//Project animation 관리
@keyframes project-hero-show {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

//project 전체 스타일 관리

.project-hero {
  @include mq(laptop) {
    margin: 0 auto;
    //애니메이션 요소
    animation-name: project-hero-show;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
    animation-fill-mode: both;
  }
}
.project-cover-image {
  @include mq(phonel) {
    display: none;
  }
  @include mq(laptop) {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}

.project-cover-image-mobile {
  @include mq(phonel) {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
  @include mq(laptop) {
    display: none;
  }
}

.project-intro {
  @include mq(phonel) {
    margin-top: 24px;
  }
  @include mq(laptop) {
    margin-top: 56px;
  }
}

.project-wrap-group {
  @include mq(phonel) {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mq(laptop) {
    padding: 0;
    position: relative;
    max-width: 1590px;
    margin: 0 auto;
  }
}
.project-wrap {
  @include mq(phonel) {
    display: block;
  }
  @include mq(laptop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
}

.project-title {
  @include mq(phonel) {
    font-family: $body-font;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
    color: white;
  }
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 56px;
    font-weight: 300;
    line-height: 1.3;
    color: white;
  }
}

.project-info-spec {
  @include mq(phonel) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.8;
    color: white;
    margin-top: 24px;
    margin-bottom: 8px;
  }
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.8;
    color: white;
    margin-bottom: 18px;
    margin-top: 8px;
  }
}

.project-info-date {
  @include mq(phonel) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 24px;
  }
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 32px;
  }
}

.project-info-description {
  @include mq(phonel) {
    font-family: $body-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    color: #666666;
    margin-bottom: 24px;
  }
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.1;
    color: #666666;
    margin-bottom: 24px;
  }
}

.project-link {
  @include mq(phonel) {
    font-family: $body-font;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-decoration: underline;
  }
  @include mq(laptop) {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration: underline;
  }
}

.project-line {
  @include mq(phonel) {
    max-width: 90%;
    height: 1px;
    background-color: #222222;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(laptop) {
    width: 1590px;
    height: 1px;
    background-color: #222222;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
  }
}

.box {
  @include mq(phonel) {
    position: relative;
    width: 375px;
    height: 500px;
    background-color: blanchedalmond;
    margin: 0 auto;
  }
  @include mq(laptop) {
    position: relative;
    top: 0px;
    width: 1000px;
    height: 500px;
    background-color: blanchedalmond;
    margin: 0 auto;
  }
}

//프로젝트 스크롤 애니메이션 관리

@keyframes scroll-animate-in {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.animate-in {
  @include mq(laptop) {
    animation-name: scroll-animate-in;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  }
}

.animate-out {
  @include mq(laptop) {
    opacity: 0;
  }
}
