// - - - - - - - - - - - - - - - - - -

// Portfolio

// - - - - - - - - - - - - - - - - - -

.portfolio {
  padding: 0 $grid-spacing/2;
  margin-top: 65px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Portfolio design

.portfolio-wrap {
}

.portfolio-item {
  //----Index Portfolilo list
  position: relative;
  padding: $grid-spacing/2;
  float: left;
  width: 50%;

  @include mq(phonel) {
    //----320px 이상일 경우 적용
    position: relative;
    left: 0px;
    top: 0px;
    float: left;
    width: 100%;
    padding: 10px;
  }

  @include mq(tabletp) {
    //----768px 이상일  경우 적용
    position: relative;
    padding: $grid-spacing/2;
    float: left;
    width: 50%;
  }
  @include mq(laptop) {
    //----1220px 이상일 경우 적용
    position: relative;
    width: 25%;
    padding: 25px;
    overflow: hidden;
  }
}

//---- hover
.portfolio-item__image {
  width: 100%;
}

.portfolio-item:after {
  position: absolute;
  box-shadow: inset 0 0 0 0 rgba($color: #000000, $alpha: 1);
  transition: box-shadow 0.5s ease-in-out;
}
.portfolio-item:hover:after {
  box-shadow: inset 0 0 0 45px rgba($color: #000000, $alpha: 1);
}

.portfolio-item img {
  width: 100%;
  transform: scale(1);
  transition: 3s ease-in-out;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}
//----

.portfolio-item__link {
  position: relative;
  display: block;

  @include mq(tabletl) {
    &:hover {
      .portfolio-item__content {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

//---- portfolio 정보 (hover시 노출)
.portfolio-item__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($overlay-background-color, $overlay-opacity);

  opacity: 0;
  visibility: hidden;
  //@include transition(all 0.2s ease-in-out);
}

.portfolio-item__info {
  text-align: center;
}

.portfolio-item__title {
  color: $overlay-text-color;
  font-size: $grid-item-title-small;
  font-weight: $grid-item-title-weight;
  letter-spacing: $grid-item-title-spacing;

  @include mq(tabletp) {
    font-size: $grid-item-title-medium;
  }

  @include mq(laptop) {
    font-size: $grid-item-title-large;
  }
}

.portfolio-item__subtitle {
  margin-top: 5px;
  color: rgba($overlay-text-color, 0.7);
  font-size: $grid-item-subtitle-small;
  font-weight: $grid-item-subtitle-weight;
  letter-spacing: $grid-item-subtitle-spacing;

  @include mq(tabletp) {
    font-size: $grid-item-subtitle-medium;
  }

  @include mq(laptop) {
    font-size: $grid-item-subtitle-large;
  }
}
